body {
    text-align: center;
}

button {
    font-size: 25px;
    padding: 10px 30px;
}

#resultado {
    font-size: 30px;
}

#imagem {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.card {
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid black;
    border-radius: 15px;
}
nav {
    background-color:blue;
    padding: 30px;
    text-align: left;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 12px 25px;
    font-size: 24px;
    border-radius: 8px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #555;
}